body {
    font-family: Arial;
    margin: 0;
    background-color: #08451e;
}

nav {
    background-color: #014f07;
    padding: 20px;
}

nav h2 {
    color: rgb(247, 241, 241);
}

nav a {
    color: rgb(252, 252, 252);
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    color: rgb(255, 21, 0);
}

section {
    padding: 50px;
    margin: 20px;
    background-color: rgb(245, 241, 241);
}

.home-section {
    background-color: rgb(101, 182, 139);
    border-radius: 30px;
    text-align: center;
}

.home-section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

h1 {
    color: #1e4e24;
}

h2 {
    color: #1f4a24;
}

h3 {
    color: #286530;
}

.sdg-section {
    background-color:rgb(213, 213, 200) ;
    border-radius: 100px;
}
/* Skills */
.skill-section {
    background-color:rgb(101, 182, 139) ;
    border-radius:100px ;
    margin: 10px;
}

.project-section {
    background-color: rgb(213, 213, 200);
    border-radius: 100px;
}

.contact-section {
    background-color: rgb(101, 182, 139);
    border-radius: 100px;

}


@media 
    (max-width: 600px) {

    nav a {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 25px;
    }

}
